body{
  background: url(https://png.pngtree.com/background/20210711/original/pngtree-hand-drawn-blue-sky-white-clouds-weather-forecast-illustration-background-picture-image_1137685.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.weather-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  border:  3px solid black;
  padding: 10vh;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.4);
}
.button{
  width: 75px; height: 50px;
  width: 12vh;
  margin-top: 10px;
}
.weather-container{
  width: 60vh;
}

@media screen and (max-width:575px) {
  .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  .weather-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    border:  3px solid black;
    padding: 10vh;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.4);
  }
  .weather-container{
    width: 60vh;
  }
}