body{
  background: url(https://png.pngtree.com/background/20210711/original/pngtree-hand-drawn-blue-sky-white-clouds-weather-forecast-illustration-background-picture-image_1137685.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.weather-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  border:  3px solid rgb(137, 237, 255);
  padding: 10vh;
  border-radius: 50px;
  background-color: rgba(59, 242, 255, 0.8);
}
.button{
  height: 6.5vh;
  width: 13vh;
  margin-top: 10px;
  font-weight: bolder;
  -webkit-text-stroke: 0.5px rgb(0, 0, 0);
}
.button:hover{
  scale: 106%;
}
.weather-container{
  width: 60vh;
}
.text{
  font-size: 5vh;
    color: rgb(0, 0, 0);
    font-weight: bolder;
    -webkit-text-stroke: 0.5px rgb(255, 255, 255);
  }

@media screen and (max-width:575px) {
  .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .weather-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    border:  3px solid rgb(233, 105, 0);
    padding: 2vh;
    border-radius: 50px;
    background-color: rgba(253, 122, 0, 0.8);
  }
  .weather-container{
    width: 45vh;
  }
  .text{
    font-size: 4.8vh;
    font-weight: bolder;
    color: rgb(54, 63, 55);
    font-weight: bolder;
    padding: 10px;
    -webkit-text-stroke: 0.5px rgb(255, 255, 255);
  }
  .button{
    height: 8vh;
    width: 11vh;
    margin-top: 10px;
    font-weight: bolder;
    -webkit-text-stroke: 0.3px rgb(0, 0, 0);
  }
  
}